:root {
    --main: silver;
    --sec: teal;
    --third: navy;
}

header {
    padding-left: 20px;
    background: var(--sec);
    color: var(--third);
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.name {
    font-size: xx-large;
    flex: 1;
}

nav{
    padding: 40px;
    font-weight: bold;
}

main{
    color: var(--sec);
    background-color: var(--main);
    display: flex;
    flex-wrap: wrap;
}
section {
    justify-content: center;
    width: 100%;
    height: auto;
}

.mypicture {
        width: 20%;
        max-width: 30em;
        height: auto;
        display:flex;
        justify-content: flex-end;
}

.work {
    padding-top: 10px;
    padding-bottom: 10px;
}
.refractoring {
    width: 100%;
    height: auto;
}
.app {
    width: 40%;
    height: auto;
    flex-direction: row;
}

.footer{
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: var(--third);
    color: var(--main);
}

@media only screen 
and (min-width: 320px) {

}
